<%= form_with(model: winemaker, local: true) do |form| %>
  <% if winemaker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(winemaker.errors.count, "error") %> prohibited this winemaker from being saved:</h2>

      <ul>
        <% winemaker.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, 'Name' %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :old, 'Year Old' %>
    <%= form.number_field :old %>
  </div>

  <div class="field">
    <%= form.label :nationality, 'Nationality' %>
    <%= form.text_field :nationality %>
  </div>

  <div class="field">
    <%= form.label :work, 'Work' %>
    <%= form.text_field :work %>
  </div>
   

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
