<p id="notice"><%= notice %></p>

<h1>Winemakers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Year Old</th>
      <th>Nationality</th>
      <th>Work</th>
      <th>Editor</th>
      <th>Writer</th>
      <th>Reviewer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @winemakers.each do |winemaker| %>
      <tr>
        <td> <%= winemaker.name %> </td>
        <td> <%= winemaker.old %> </td>
        <td><%= winemaker.nationality %></td>
        <td><%= winemaker.work %></td>
        <td> <%= winemaker.is_editor? %></td>
        <td> <%= winemaker.is_writer? %></td>
        <td> <%= winemaker.is_reviewer? %></td>
        <td><%= link_to 'Show', winemaker %></td>
        <td><%= link_to 'Edit', edit_winemaker_path(winemaker) %></td>
        <td><%= link_to 'Destroy', winemaker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Winemaker', new_winemaker_path %>
